venv_dl
*#
__pycache__
*odg
*tmp
*SOLUTION.ipynb
.vscode
data/*
EMNIST_data
flower_data.tar.gz
flower_data
corrupted_flower_data
venv
plants_dataset.tar.gz
plants_dataset
arquivo_baixado.zip
coursera_videos
coursera_resources
cifar_100
cifar_100.tar.xz
dataset